.text {
    &__main {
        font-weight: 500;
        letter-spacing: 0.1rem;
        color: white;
    }
}

.video {
    width: "100%";
    height: "100vh";
    object-fit: "cover";
}

.sub {
    &__title {
        font-size: 25px;
        font-weight: 550;
        margin-bottom: 40px;
        width: 100%;
        left: 0;
        padding-left: 3rem;
    }

    &__content {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        line-height: 3rem;
    }
}
